body{
	font-family: 'Bebas Neue', sans-serif;
	background: #171719;
	color: white;
}

.logo{
	background-image: url(images/textlogobg.jpg);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.button{
	border : solid 1px white;
	color: white;
	border-radius: 25px;
	font-size: 300%;
	margin-top : 50px;
	padding: 5px 20px 5px 20px;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration : none;
}

th {
    background-color: rgb(113, 122, 138);
}

td { color: silver;
    background-color: rgb(82, 87, 97);
 }
